[submodule "russian-multiplication"]
	path = russian-multiplication
	url = https://github.com/a676-code/russian-multiplication.git
[submodule "levine-sequence"]
	path = levine-sequence
	url = https://github.com/a676-code/levine-sequence.git
[submodule "inventory-sequence"]
	path = inventory-sequence
	url = https://github.com/a676-code/inventory-sequence.git
[submodule "dungeon-numbers"]
	path = dungeon-numbers
	url = https://github.com/a676-code/dungeon-numbers.git
[submodule "van-eck-sequence"]
	path = van-eck-sequence
	url = https://github.com/a676-code/van-eck-sequence.git
[submodule "prime-constant"]
	path = prime-constant
	url = https://github.com/a676-code/prime-constant.git
[submodule "prime_guesser"]
	path = prime_guesser
	url = https://github.com/a676-code/prime_guesser.git
[submodule "gen-cc"]
	path = gen-cc
	url = https://github.com/a676-code/gen-cc.git
[submodule "sandpiles"]
	path = sandpiles
	url = https://github.com/a676-code/sandpiles.git
[submodule "polynomial"]
	path = polynomial
	url = https://github.com/a676-code/polynomial.git
[submodule "gt"]
	path = gt
	url = https://github.com/a676-code/gt.git
